<app-menu></app-menu>

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h3>Introduce tu Nueva Contraseña</h3>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
                <div class="form-group text-center">
                    <label for="password">contraseña</label>
                    <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" required>
                </div>

                <div class="form-group text-center">
                    <label for="confirmPassword">confirmar contraseña</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        [(ngModel)]="confirmPassword" required>
                </div>
               
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
